$borderbox: 5px

body
  width: 100%
  height: 100%
.navwrapper
  a
    text-decoration: none
    color: inherit
  padding: 20px
  *
    color: white

  h1
    margin: 0
    padding: 10px
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  .navitems
    padding: 10px
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center
    width: 600px
    .navitem
      font-size: 24px
//==============================================//

.landingpage
  width: 100%
  height: 100vh
  box-sizing: border-box
  border: $borderbox solid white
  background-image: url("../assets/landingbk.jpg")
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  h1, h3
    color: white
    padding: 0
    margin: 0
//===============================================//

.aboutwrapper
  width: 100%
  height: 100vh
  box-sizing: border-box
  border: $borderbox solid white
  background: #7cb2df
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  h3
    color: white
    width: 60%
    max-width: 600px
    line-height: 1.5
    text-align: center
//===========================//

.navprojects *
  color: #333
.projectwrapper
  padding-top: 80px
  width: 100%
  height: 100vmin
  box-sizing: border-box
  border: $borderbox solid white
  background: white
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  min-height: 600px
  min-width: 300px
.project1
  background-image: url("../assets/project1.jpg")
.project2
  background-image: url("../assets/project2.jpg")
.project3
  background-image: url("../assets/project3.jpg")
.project4
  background-image: url("../assets/project4.jpg")
.project5
  background-image: url("../assets/project5.jpg")
.project6
  background-image: url("../assets/project6.jpg")

.projectbox
  border: 2px solid #333
  width: 45%
  height: 150px
  display: flex
  justify-content: center
  align-items: center

  background-size: cover
  background-position: center
  h4
    color: white

@media screen and (max-width: 650px)
  .projectbox
    width: 90%
    margin: 5px
  .projectwrapper
    height: 100%
//=========================

.contactwrapper
  padding-top: 80px
  width: 100%
  height: 100vh
  box-sizing: border-box
  border: $borderbox solid white
  background: #333
  display: flex
  flex-wrap: nowrap
  justify-content: space-around
  align-items: center
  flex-direction: column
  h3
    width: 70%
    max-width: 600px
    text-align: center
    color: white
    line-height: 1.4

  .button
    display: flex
    justify-content: center
    align-items: center
    color: white
    border: 2px solid white
    width: 30%
    height: 50px

@media screen and (max-width: 650px)
  h3
    font-size: 18px
