#about.container
  .row
    h1 Who We Are
    hr
  .row
    p.lead.col-xs-12.col-sm-8.col-sm-offset-2.text-center CHASSI is an Urban Art Collective created by very talented artists and engineers to merge the worlds of art and architecture and engineering. They are proud quebecers that are very profesional but also know how to party hard and like all other quebecers enjoy eating poutine. at least i know i do. and this should be enough for the about section.
