
#navbar.wrapper
  a(href="index.html").title CHÂSSI
  .navitems.hidden-xs
    a(href="#about").navitem About
    a(href="#projects").navitem Projects
    a(href="#").navitem Others
    a(href="#contact").navitem Contact
  .hamburger.visible-xs-block
    +icon("menu-hamburger")


#menudrop
  h1.closemenu.navitem x
  a(href="#about").navitem About
  a(href="#projects").navitem Projects
  a(href="#").navitem Others
  a(href="#contact").navitem Contact  
