.container-fluid
  #navbar.wrapper
    a(href="#").title CHASSI
    .navitems.hidden-xs
      a(href="#").navitem About
      a(href="#").navitem Projects
      a(href="#").navitem Others
      a(href="#").navitem Contact
    .hamburger.visible-xs-block
      +icon("menu-hamburger")


#menudrop
  h1.closemenu.navitem x
  a(href="#").navitem About
  a(href="#").navitem Projects
  a(href="#").navitem Others
  a(href="#").navitem Contact  
