.navwrapper
  a(href="index.html")
    h1.title CHÂSSI
  .navitems
    a(href="about.html").navitem About
    a(href="projects.html").navitem Projects
    a.navitem Team
    a(href="contact.html").navitem Contact
