#projects.container

  .row
    h1 What We Do  
    hr
  .row.col-md-12
    .col-xs-12.col-sm-6.col-md-4
      .projectbox.project1.col-md-12
        h4 Lorem Ipsum
    .col-xs-12.col-sm-6.col-md-4
      .projectbox.project2.col-md-12
        h4 dolor sit amet
    .col-xs-12.col-sm-6.col-md-4
      .projectbox.project3.col-md-12
        h4 consectetur adipisicing
    .col-xs-12.col-sm-6.col-md-4
      .projectbox.project4.col-md-12
        h4 eiusmod tempor
    .col-xs-12.col-sm-6.col-md-4
      .projectbox.project5.col-md-12
        h4 incididunt ut
    .col-xs-12.col-sm-6.col-md-4
      .projectbox.project6.col-md-12
        h4 dolore magna
  .row
    .text-center
      +a-btn("projects.html", "lg") Load More
