#projects.container
  br
  br
  
  .row
    h1 What We Do  
    hr
    br
  .row
    .projectbox.project1.col-xs-12.col-sm-6.col-md-4
      .infobox
        h3 Lorem Ipsum
    .projectbox.project2.col-xs-12.col-sm-6.col-md-4
      .infobox
        h3 dolor sit amet
    .projectbox.project3.col-xs-12.col-sm-6.col-md-4
      .infobox
        h3 consectetur adipisicing
    .projectbox.project4.col-xs-12.col-sm-6.col-md-4
      .infobox
        h3 eiusmod tempor
    .projectbox.project5.col-xs-12.col-sm-6.col-md-4
      .infobox
        h3 incididunt ut
    .projectbox.project6.col-xs-12.col-sm-6.col-md-4
      .infobox
        h3 dolore magna
  br
  br
  
  .row
    .text-center
      +a-btn("projects.html", "lg") Load More
  br
  br
  
